.controls {
    margin-top: 10px;
}

a:focus {
    outline: none;
}

h1 {
    font-size: 34px;
    font-family: verdana, helvetica, arial, sans-serif;
    letter-spacing: -2px;
    color: #9FC54E;
    font-weight: 700;
    padding: 20px 0 0;
}

h2 {
    font-size: 24px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #444444;
    font-weight: 400;
    padding: 0 0 10px;
}

h3 {
    font-size: 14px;
    font-family: verdana, helvetica, arial, sans-serif;
    letter-spacing: -1px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 8px 0 8px 0;
}

/*-------------------------------------------*/

p {
    color: black;
    line-height: 22px;
    padding: 0 0 10px;
    margin: 20px 0 20px 0;
}

#container {
    clear: both;
    margin: 0;
    padding: 0;
}

#container a {
    float: right;
    background: #9FC54E;
    border: 1px solid #9FC54E;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #fff;
    padding: 20px;
    font-weight: 700;
}

#container a:hover {
    float: right;
    border: 1px solid #cccccc;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #fff;
    padding: 20px;
    font-weight: 700;
}

.content {
    font-style: normal;
    font-family: helvetica, arial, verdana, sans-serif;
    color: #ffffff;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    margin: 30px 0 50px;
    padding: 15px 0;
}

.content p {
    margin: 10px 0;
    padding: 15px 20px;
}

.logo-panel {
    position: absolute;
    top: 0;
    left: 0;
    /*background: url(../images/google-maps-logo.png) no-repeat; !* Добавляем фон *!*/
    background-size: cover; /* Масштабируем фон */
    width: 408px;
    height: 15%;
    z-index: 1;
}

/*-------------------------------------------*/

.panel {
    position: absolute;
    top: 15%;
    left: 0;
    display: none;
    background: rgba(255, 255, 255, .6);
    width: 408px;
    height: 100%;
    filter: alpha(opacity=85);
    z-index: 0;
}

.panel p {
    margin: 0 0 15px 0;
    padding: 0;
    z-index: 3;
}

.panel a.trigger, .panel a.trigger:visited {
    margin: 0;
    padding: 0;
    z-index: 3;
}

.panel a.trigger:hover, .panel a.trigger:visited:hover {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    z-index: 3;
}

a.trigger {
    position: absolute;
    text-decoration: none;
    top: 15%;
    left: 0;
    padding: 15px 15px 15px 10px;
    background: url(../images/plus.png) no-repeat;
    display: block;
    opacity: .5;
    z-index: 2;
}

a.trigger:hover {
    position: absolute;
    text-decoration: none;
    top: 15%;
    left: 0;
    padding: 15px 15px 15px 10px;
    display: block;
}

a.active.trigger {
    background: url(../images/minus.png) no-repeat;
}

/*-------------------------------------------*/

.nav-panel {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 67px;
    height: 100%;
    z-index: 2;
}

/*-------------------------------------------*/

.city-panel, .search-panel, .hotel-panel {
    position: absolute;
    display: none;
    padding: 30px 30px 30px 30px;
    top: 10%;
    left: 67px;
    width: 341px;
    height: 100%;
    z-index: 3;
}

/*-------------------------------------------*/

a.city {
    position: absolute;
    text-decoration: none;
    padding: 30px 30px 30px 30px;
    display: block;
    background: url("../images/city_black.png") no-repeat;
    top: 70px;
    left: 5px;
    opacity: .3;
    z-index: 3;
}

a.city:hover {
    position: absolute;
    text-decoration: none;
    left: 5px;
    display: block;
}

a.search {
    position: absolute;
    text-decoration: none;
    padding: 30px 30px 30px 30px;
    display: block;
    background: url("../images/search_black.png") no-repeat;
    top: 145px;
    left: 9px;
    opacity: .3;
    z-index: 3;
}

.search-panel a.search:active  a.search:visited {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    z-index: 4;
}

a.hotel {
    position: absolute;
    text-decoration: none;
    padding: 30px 30px 30px 30px;
    display: block;
    background: url("../images/hotel_black.png") no-repeat;
    top: 210px;
    left: 9px;
    opacity: .3;
    z-index: 3;
}

a.hotel:hover {
    position: absolute;
    text-decoration: none;
    left: 9px;
    display: block;
}

/*-------------------------------------------*/

.columns {
    clear: both;
    width: 330px;
    padding: 0 0 20px 0;
    line-height: 22px;
}

.colleft {
    float: left;
    width: 130px;
    line-height: 22px;
}

.colright {
    float: right;
    width: 130px;
    line-height: 22px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

hr {
    height: 1px;
}
