<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0
        }

        #map_canvas {
            height: 100%
        }
    </style>
    <meta charset="UTF-8"/>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places">
    </script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/nav.css"/>


</head>
<body>
<!--VIEW-->
<div class="gMap-holder" id="map_canvas"></div>
<div class="logo-panel"></div>
<div class="panel">
    <div class="nav-panel">
        <a class="city" href="#" title="Выберите город"/>
        <a class="search" href="#" title="Поиск по городу"/>
        <a class="hotel" href="#" title="Выбор отеля"/>
    </div>
    <div class="city-panel">

    </div>
    <div class="search-panel">

        <input id="address" name="address" class="form-control form-control-lg controls" type="text"
               placeholder="Введите адрес" style="text-align: center"/>
        <button id="address-button" type="submit" class="form-control form-control-lg controls" name="send" onclick="addressSearch()">Поиск</button>
        <!-- Cодержимое панели -->
        <input id="location" name="location" class="form-control form-control-lg controls" type="text"
               placeholder="Введите адрес"/>
        <input id="type-rest" name="type-rest" class="form-control form-control-lg controls" type="text"
               placeholder="Введите интересующий вид отдыха"/>
        <input id="radius" name="radius" class="form-control form-control-lg controls" type="text"
               placeholder="Удаленность"/>
        <button id="button" type="submit" class="form-control form-control-lg controls" name="send" onclick="placesSearch()">Поиск</button>

        <div class="additional-panel">
        </div>
    </div>
    <div class="hotel-panel">

    </div>
</div>

<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/request.js"></script>
<a class="trigger" href="#" title="Меню поиска"><!--<img src="image/google-maps-logo.png" sizes="200px 200px"/>--></a>
</body>
</html>