<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0
        }

        #map_canvas {
            height: 100%
        }
    </style>
    <meta charset="UTF-8"/>
    <!-- AIzaSyCZ8WhzKOPGMPEWCTZ6igOpYJ9ceisZINM -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places">
    </script>

    <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/request.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/nav.css"/>


</head>
<body>
<!--VIEW-->
<div class="gMap-holder" id="map_canvas"></div>
<div class="logo-panel"></div>
<div class="panel">
    <div class="nav-panel">
        <a class="city" href="#"/>
        <a class="search" href="#"/>
        <a class="hotel" href="#"/>
    </div>
    <div class="city-panel">

    </div>
    <div class="search-panel">
        <!-- Cодержимое панели -->
        <input id="location" name="location" class="form-control form-control-lg controls" type="text"
               placeholder="Location"/>
        <input id="type-rest" name="type-rest" class="form-control form-control-lg controls" type="text"
               placeholder="Type of Rest"/>
        <input id="radius" name="radius" class="form-control form-control-lg controls" type="text"
               placeholder="Radius"/>
        <button id="button" type="submit" class="form-control form-control-lg controls" name="send" onclick="test()">OK
        </button>
    </div>
    <div class="hotel-panel">

    </div>
</div>
<a class="trigger" href="#"><!--<img src="image/google-maps-logo.png" sizes="200px 200px"/>--></a>
</body>
</html>